alias rot13decode="tr '[A-Za-z]' '[N-ZA-Mn-za-m]'"
alias syscalltable='sp chromium syscalltable'
alias vi='nvim'
alias vim='nvim'
alias ghidra="$HOME/bin/ghidra/ghidraRun"
alias projects="cd $HOME/Projects"
alias ctfs="cd $HOME/CTFs"
alias kali="ssh -X gazzelle@kali.gazzelle.dev"
alias screener="ssh ctfadmin@www.cweaccessionsctf.com"
alias pte="ssh ctfadmin@www.cweptectf.com"
alias df="dfc"
alias top="btop"
alias du="du -hc"
alias make-env="python -m venv"
alias connect_home="sudo wg-quick up home; sudo wg"
alias disconnect_home="sudo wg-quick down home; sudo wg"
alias gdb="gdb-gef"
alias convertmd="$SCRIPTS/convertmd"
