[submodule ".gdb/gef"]
	path = .gdb/gef
	url = https://github.com/hugsy/gef.git
[submodule ".gdb/pwndbg"]
	path = .gdb/pwndbg
	url = https://github.com/pwndbg/pwndbg.git
[submodule ".gdb/peda"]
	path = .gdb/peda
	url = https://github.com/longld/peda.git
[submodule ".gdb/peda-arm"]
	path = .gdb/peda-arm
	url = https://github.com/alset0326/peda-arm.git
[submodule ".config/i3/i3lock-color"]
	path = .config/i3/i3lock-color
	url = https://github.com/Raymo111/i3lock-color.git
[submodule ".config/auto-cpufreq"]
	path = .config/auto-cpufreq
	url = https://github.com/AdnanHodzic/auto-cpufreq.git
