[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=False
Exec=/home/gazzelle/bin/ghidra/ghidraRun
Name=Ghidra
Icon=/home/gazzelle/bin/ghidra/docs/images/GHIDRA_1.png
